@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  line-height: 1;
  background: #121212;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  max-width: 650px;
}

h1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
    font-size: 55px;
    font-family: 'Inter', sans-serif;
}

.text {
  max-width: 90%;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.read-btn {
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background: #eee;
  margin-bottom: 2rem;
  padding: 1rem;
  outline: none;
  width: 150px;
  display: inline-block;
  margin-right: 25px;
}

.read-btn:hover, .read-btn:focus {
  cursor: pointer;
}

.shuffle-btn {
  border: 3px solid #fff;
  border-radius: 10px;
  color: #eee;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 2rem;
  background: transparent;
  padding: 1rem;
  outline: none;
  width: 150px;
  display: inline-block;
}

.btns {
  width: 100%;
  text-align: center;
}

.shuffle-btn:hover, .shuffle-btn:focus {
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
